# Ignore virtual environment
.venv/
.env/
# Ignore Python cache files
__pycache__/
*.py[cod]
__pypackages__/
.pdm.toml
.pdm.lock
.pdm-Python
pdm.lock
*.pyc
*.pyo
*.pyd
.vscode/
.idea/
*.sublime-workspace